<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/contato">
        <input type="button" value="Contatos">
    </a>

    <p>Hello, World!</p>   
    <p> testando isso aqui </p> 
    <h1>pega em tempo real ?</h1>  
    <h2> realmente pega !</h2>

    <a href="/usuarios/Rafael">
        <input type="button" value="Rafael">
    </a>
    <a href="/usuarios/Yamile">
        <input type="button" value="Yamile">
    </a>
    <a href="/usuarios/Erick">
        <input type="button" value="Erick">
    </a>
</body>
</html>